#root {
    --tile-size: 64px;
}

.transform-stage {
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* position: relative;
    top: var(--footer-size);
    left: 0px; 
    right: 0px;
    bottom: var(--footer-size); */
}
.info-float {
    position: absolute;
    min-width: 200px;
    bottom: 0px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 10000;
    color: black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px white;
    margin: 0px;
    padding: 0px;
}
.info-float * {
    padding: 0px;
    margin: 0px;
}
.table {
    width: 100vw;
    height: calc(100vh - calc(var(--footer-size) * 2));
    min-width: calc(var(--tile-size) * 13);
    min-height: calc(var(--tile-size) * 10);
}
.board {
    position: relative;
    top: 50%;
    left: 50%;
    width: calc(var(--tile-size) * 13);
    height: calc(var(--tile-size) * 10);
    transform: translate(-50%, -50%);
}
.board-piece, .indicator-button {
    background-color: transparent;
    width: 64px;
    height: 64px;
    position: absolute;
    top: var(--y);
    left:var(--x);
}

.piece-icon, .indicator-icon {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.piece-icon-pawn {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 50%;
}

.tile-black, .tile-white {
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 64px;
    height: 64px;

}
.tile-black {
    background-color: brown;
}
.tile-white {
    background-color: tan;
}






.game-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 0px;
    padding: 0px;
    background-color: aliceblue;
}

.player-info {
    width: 100%;
    height: var(--footer-size);
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0px;
}