#root {
    --tile-size: 64px;
}
.viewport {
    width: 1000px;
    height: 1000px;
}
.canvas {
    width: 100%;
    height: 100%;
}

.board {
    width: 1000px;
    height: 1000px;
    background-color: aliceblue;
}
.board-piece, .indicator-button {
    background-color: transparent;
    width: 64px;
    height: 64px;
    position: absolute;
    top: var(--y);
    left:var(--x);
}

.piece-icon, .indicator-icon {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.piece-icon-pawn {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 50%;
}

.tile-black, .tile-white {
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 64px;
    height: 64px;

}
.tile-black {
    background-color: brown;
}
.tile-white {
    background-color: tan;
}